.course-details {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    color: #1c0f0f; 
    flex-basis: calc(50% - 50px);
    display: inline-flex;
    justify-content: space-between;
    grid-column: auto;
  }
  
  .course-details h2 {
    margin-bottom: 20px;
    color: #eeedef; 
  }
  
  .search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #6a1b9a; 
    color: #6a1b9a; 
  }
  
  .search-container button {
    padding: 8px 12px;
    background-color: #6a1b9a; 
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* .course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  
  .course-card {
    flex: 1 4 3px; 
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f3e5f5; 
    border: 1px solid #6a1b9a; 
  }
  
  .course-card h3 {
    margin-bottom: 10px;
    color: #6a1b9a; 
  }
  
  .course-card p {
    margin-bottom: 15px;
  }
  
  .course-card button {
    padding: 8px 12px;
    background-color: #6a1b9a; 
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .course-card button:hover {
    background-color: #4a148c; 
  }
  .card-container{
    display: flex;
  }
 h2{
    margin-bottom: 2em;
 }