body {
  background-image: url("https://718448.microweber.me/userfiles/media/default/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.Welcome {
    padding-bottom: 0px;
    margin-bottom: 730px;
    color: rgb(19, 19, 18);
    font-size: 4em;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-bottom: 170px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px; /* Adjust as needed */
  }
  
  .card {
    flex-basis: calc(40% - 40px); /* Adjust as needed for desired width */
    border-radius: 8px;
    padding: 1px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 100px) {
    .card {
      flex-basis: calc(10% - 10px); /* Adjust as needed for desired width on smaller screens */
    }
  }
  .homeicon1{
    width: 230px;
    height: 230px;
    display: inline-block;
    text-align: center;
    line-height: 190px;
    background-color: rgb(62, 7, 90);
    border-radius: 80%;
    position: absolute;
    right: 80%;
    top: 700px;
  }
  .homeicon2{
    width: 230px;
    height: 230px;
    display: inline-block;
    text-align: center;
    line-height: 190px;
    background-color: rgb(62, 7, 90);
    border-radius: 80%;
    position: absolute;
    right: 45%;
    top: 690px;
  }
  .homeicon3{
    width: 230px;
    height: 230px;
    display: inline-block;
    text-align: center;
    line-height: 190px;
    background-color: rgb(62, 7, 90);
    border-radius: 80%;
    position: absolute;
    right: 12%;
    top: 77%;
  }
  .homeimg{
    border-radius: 80%;
    position: absolute;
    right: 0%;
    top: 33%;
    display: block;
    height: 70vh;
    box-shadow: 2px 2px 5px rgba(0, 1, 3, 1);
  }
  .para-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    margin-top: -60%;
    color: solid rgb(19, 17, 17);
    font-size: larger;
  }
  .para{
    text-align: center;
    max-width: 600px;
    padding: 70px;
    border-radius: 8px;
    font-weight: bold; /* Add this line to make the font bold */
    font-size: 1.3em;
  }
  .homeimg1 {
    border-radius: 20px; /* Adjust the border-radius to your preference */
    position: absolute;
    right: 49%; /* Adjust the position from the right */
    top: 35%;
    display: block;
    width: 70%; /* Adjust the width to your preferred card size */
    height: 70%; /* Adjust the height to your preferred card size */
    overflow: hidden; /* Ensure the image does not overflow its container */
    /* shadow: 2px 1px 1px rgba(0, 0, 0, 0); */
  }
