#logout-btn{
    right: 100px;
    top: 150px;
    position: absolute;
    color: whitesmoke;
    font-size: 1.2vw;
    background-color: #8a2be2;
}

#course-crt{
    right: 100px;
    top: 250px;
    position: absolute;
    color: whitesmoke;
    font-size: 1.2vw;
    background-color: #8a2be2;
}

#module-crt{
    right: 100px;
    top: 350px;
    position: absolute;
    color: whitesmoke;
    font-size: 1.2vw;
    background-color: #8a2be2;
}

#lecture-crt{
    right: 100px;
    top: 450px;
    position: absolute;
    color: whitesmoke;
    font-size: 1.2vw;
    background-color: #8a2be2;
}

#notes-crt{
    right: 100px;
    top: 550px;
    position: absolute;
    color: whitesmoke;
    background-color: #8a2be2;
    font-size: 1.2vw;
}